In [1]:
import pandas as pd

In [2]:
file_path = "Resources\\purchase_data.csv"

purch_df = pd.read_csv(file_path)
print(purch_df)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

# Player Count

In [4]:
play_c = purch_df.groupby(["SN"]).count()
play_c = len(play_c)

d= {"Total Players":[play_c]}
play_c_answer = pd.DataFrame(data=d)
print(play_c_answer)

   Total Players
0            576

# Purchasing Analysis (Total)

In [5]:
itemsunique = purch_df.groupby(["Item ID"]).count()
itemsunique = len(itemsunique)
print(itemsunique)

179

In [6]:
avgprice = purch_df["Price"].mean()
print(avgprice)

3.050987179487176

In [7]:
purchasenum = len(purch_df["Purchase ID"])
print(purchasenum)

780

In [8]:
revenue_df = purch_df["Price"].sum()
print(revenue_df)

2379.77

In [9]:
d = {"Number of Unique Items": [itemsunique], "Average Price": [avgprice], "Number of Purchases": [purchasenum], "Total Revenue":[revenue_df]}

purch_analysis_df = pd.DataFrame(data=d)
purch_analysis_df["Average Price"]= purch_analysis_df["Average Price"].map("${:.2f}".format)
purch_analysis_df["Total Revenue"]= purch_analysis_df["Total Revenue"].map("${:.2f}".format)
print(purch_analysis_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

# Gender Demographics

In [10]:
print(purch_df.head())

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

In [11]:
grouped_gender_df = purch_df.groupby(["Gender"])

In [12]:
gender_count = grouped_gender_df["SN"].nunique()
gender_percentage = gender_count/play_c *100

In [13]:
d = {"Total Count": gender_count, "Percentage of Players": gender_percentage}
gender_df = pd.DataFrame(data = d)

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)

print(gender_df.sort_values(["Total Count"], ascending=False))

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [15]:
print(grouped_gender_df.count())

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [16]:

purchased_count = grouped_gender_df["Purchase ID"].count()
avg_purchase_price = grouped_gender_df["Price"].mean()
total_purchase_value = grouped_gender_df["Price"].sum()
avg_total_purchase= total_purchase_value/gender_count

g = {"Purchase Count":purchased_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value":total_purchase_value, "Avg Total Purchase per Person":avg_total_purchase}
summary_df = pd.DataFrame(data=g)


summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:.2f}".format)
summary_df["Total Purchase Value"] = summary_df["Total Purchase Value"].map("${:.2f}".format)
summary_df["Avg Total Purchase per Person"] = summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

print(summary_df)

                       Purchase Count Average Purchase Price  \
Gender
Female                            113                  $3.20
Male                              652                  $3.02
Other / Non-Disclosed              15                  $3.35

                      Total Purchase Value Avg Total Purchase per Person
Gender
Female                             $361.94                         $4.47
Male                              $1967.64                         $4.07
Other / Non-Disclosed               $50.19                         $4.56

# Age Demographics

In [17]:
age_df = purch_df
print(age_df.head())

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

In [18]:
bins = [0, 9.9, 14, 18.9, 24, 28.9, 34, 39.9, 200]
labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels= labels, include_lowest=True)

print(age_df.head())

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price Age Group
0  Extraction, Quickblade Of Trembling Hands   3.53     20-24
1                          Frenzied Scimitar   1.56       40+
2                               Final Critic   4.88     20-24
3                                Blindscythe   3.27     20-24
4                                       Fury   1.44     20-24

In [19]:
grouped_age_df = age_df.groupby(["Age Group"])

age_group_count = grouped_age_df["SN"].nunique()
age_group_percentage = age_group_count/play_c * 100

In [20]:
a = {"Total Count":age_group_count, "Percentage of Players": age_group_percentage}
age_demo = pd.DataFrame(data=a)

age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}%".format)
print(age_demo)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19               90                15.62%
20-24              275                47.74%
25-29               67                11.63%
30-34               62                10.76%
35-39               31                 5.38%
40+                 12                 2.08%

# Purchasing Analysis (Age)

In [21]:
print(grouped_age_df.count())

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              113  113  113     113      113        113    113
20-24              388  388  388     388      388        388    388
25-29               88   88   88      88       88         88     88
30-34               86   86   86      86       86         86     86
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [22]:
age_purchase_count = grouped_age_df["Purchase ID"].count()
age_avgprice = grouped_age_df["Price"].mean()
age_totalvalue = grouped_age_df["Price"].sum()
age_avgtotal = age_totalvalue/age_group_count

In [23]:
b = {"Purchase Count": age_purchase_count, "Average Purchase Price": age_avgprice, "Total Purchase Value": age_totalvalue, "Avg Total Purchase per Person": age_avgtotal}
age_purchase_analysis = pd.DataFrame(data=b)

age_purchase_analysis["Average Purchase Price"] = age_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
age_purchase_analysis["Total Purchase Value"] = age_purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
age_purchase_analysis["Avg Total Purchase per Person"] = age_purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)

print(age_purchase_analysis)

           Purchase Count Average Purchase Price Total Purchase Value  \
Age Group
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 113                  $3.03              $342.91
20-24                 388                  $3.05             $1184.04
25-29                  88                  $2.93              $257.77
30-34                  86                  $2.90              $249.23
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

          Avg Total Purchase per Person
Age Group
<10                               $4.54
10-14                             $3.76
15-19                             $3.81
20-24                             $4.31
25-29                             $3.85
30-34                             $4.02
35-39                             $4.76
40+                               $3.19

# Top Spenders

In [24]:
username_df = purch_df.groupby(["SN"])

print(username_df.count())

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Group
SN
Adairialis76             1    1       1        1          1      1          1
Adastirin33              1    1       1        1          1      1          1
Aeda94                   1    1       1        1          1      1          1
Aela59                   1    1       1        1          1      1          1
Aelaria33                1    1       1        1          1      1          1
...                    ...  ...     ...      ...        ...    ...        ...
Yathecal82               3    3       3        3          3      3          3
Yathedeu43               2    2       2        2          2      2          2
Yoishirrala98            1    1       1        1          1      1          1
Zhisrisu83               2    2       2        2          2      2          2
Zontibe81                3    3       3        3          3      3          3

[576 rows x 7 columns]

In [25]:
username_purch_count = username_df["Purchase ID"].count()
username_avgprice = username_df["Price"].mean()
username_totalvalue = username_df["Price"].sum()

In [26]:
u = {"Purchase Count":username_purch_count, "Average Purchase Price": username_avgprice, "Total Purchase Value": username_totalvalue}

topspend = pd.DataFrame(data=u)
topspend_sort = topspend.sort_values(by=["Total Purchase Value"],ascending = False)

topspend_sort["Average Purchase Price"] = topspend_sort["Average Purchase Price"].map("${:.2f}".format)
topspend_sort["Total Purchase Value"] = topspend_sort["Total Purchase Value"].map("${:.2f}".format)

print(topspend_sort.head(5))

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular and Most Profitable Items

In [27]:
item_df = purch_df.groupby(["Item ID","Item Name"])
print(item_df.count())

                                                      Purchase ID  SN  Age  \
Item ID Item Name
0       Splinter                                                4   4    4
1       Crucifer                                                4   4    4
2       Verdict                                                 6   6    6
3       Phantomlight                                            6   6    6
4       Bloodlord's Fetish                                      5   5    5
...                                                           ...  ..  ...
178     Oathbreaker, Last Hope of the Breaking Storm           12  12   12
179     Wolf, Promise of the Moonwalker                         6   6    6
181     Reaper's Toll                                           5   5    5
182     Toothpick                                               3   3    3
183     Dragon's Greatsword                                     3   3    3

                                                      Gender  Price  Age Group
Item ID Item Name
0       Splinter                                           4      4          4
1       Crucifer                                           4      4          4
2       Verdict                                            6      6          6
3       Phantomlight                                       6      6          6
4       Bloodlord's Fetish                                 5      5          5
...                                                      ...    ...        ...
178     Oathbreaker, Last Hope of the Breaking Storm      12     12         12
179     Wolf, Promise of the Moonwalker                    6      6          6
181     Reaper's Toll                                      5      5          5
182     Toothpick                                          3      3          3
183     Dragon's Greatsword                                3      3          3

[179 rows x 6 columns]

In [28]:
item_purchase = item_df["Purchase ID"].count()
item_price = item_df.mean()["Price"]
item_totalpurchase = item_purchase*item_price

In [33]:
i = {"Purchase Count": item_purchase, "Item Price": item_price.round(2), "Total Purchase Value": item_totalpurchase}

topitems = pd.DataFrame(data = i)

topitems_sorted= topitems.sort_values(by="Total Purchase Value", ascending= False)

print(topitems_sorted.head(5))

                                                      Purchase Count  \
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
82      Nirvana                                                    9
145     Fiery Glass Crusader                                       9
103     Singed Scalpel                                             8

                                                      Item Price  \
Item ID Item Name
92      Final Critic                                        4.61
178     Oathbreaker, Last Hope of the Breaking Storm        4.23
82      Nirvana                                             4.90
145     Fiery Glass Crusader                                4.58
103     Singed Scalpel                                      4.35

                                                      Total Purchase Value
Item ID Item Name
92      Final Critic                                                 59.99
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
82      Nirvana                                                      44.10
145     Fiery Glass Crusader                                         41.22
103     Singed Scalpel                                               34.80

# Three Observable Trends in the Data

1. Female and Other/Non-Disclosed players are making less purchases than Male players. However, they are willing to spend on Average the same amount of money on a given purchase (Average Purchase Price). This fact could be useful on a marketing campaign aimed specifically at Female and Other/Non-Disclosed players.

2. The most profitable Age Groups are "15-19" and "20-24". We could cater new items to their playing experience needs to increase the probability of a sale.

3. All Items offered in the store were purchased at least once. We could offer bundles where different kinds of items are included to increase the purchasing interest of players.